<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="text-gray-200 bg-gray-800">

<main class="px-8 py-2 w-full">
    <h1 class="text-center text-5xl font-bold mb-12">Hangman</h1>
    {% block content %}
    {% endblock content %}
</main>

{% block scripts %}
{% endblock scripts %}
</body>
</html>